.jumbotron {
  margin: 0;
  background-image: linear-gradient(to right, #37bcdd, #f3f4fc, #78c8d6);
  color: white; }

  .login{
    align-content: center;
  }

  #logo{
    margin-top: 5%;
    margin-left: 40%;
    margin-right:auto;
  }

  .header{
    width:100%;
  }

 #welcomeText{
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
 }

.headerLogin.button:hover{
  background-color:rgb(255, 0, 13);
}

#warn{
  color:red;
}

